
<div class="row">
  
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>
  </div>

  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    
    <button
     type="button"
     (click)="generar()"
     class="btn btn-primary">Generar</button>
    
  </div>
  
    
</div>


